{% extends 'gregssnorkelscores/base.html' %}
{% load static %}

{% block title_block %}
Location page
{% endblock %}

{% block body_block %}

<body class="login">
    <div class="login-container">
        <div class="box">

            <div class="heading-container">
                <h1 class="headingLogin">WELCOME TO THE BEAUTIFUL</h1>
                <img src="{% static 'images/aberdeenshire.png' %}" alt="Aberdishire Image" class="image">

                <h1 class="headingLogin">ABERDEENSHIRE</h1>

            </div>

            <div class="info">
                <p>Don't see your spot? add it <a href="{% url 'gregssnorkelscores:add_spot' %}">here!</a></p>
                <p>Or browse these: </p>

            </div>
            <ul>
                <li><a href="{% url 'gregssnorkelscores:spot' %}">Stonehaven</a></li>
                <li><a href="{% url 'gregssnorkelscores:spot' %}">Portlethen</a></li>
                <li><a href="{% url 'gregssnorkelscores:spot' %}">NewtonHill</a></li>
            </ul>
        </div>
    </div>
</body>

{% endblock %}