{% extends 'gregssnorkelscores/base.html' %}

{% block title_block %}
Add a Snorkel Spot
{% endblock %}

{% block body_block %}
<div class="login">
    <div class="login-container">
        <h1 class="headingLogin">ADD YOUR SPOT!</h1>
        <div class="centered-form">
            <form id="add_spot_form" method="post" action="/gregssnorkelscores/{{ location.slug }}/add_spot/">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                </div>
                {% endfor %}
                <input type="submit" name="submit" value="Create Spot" class="submitButton" />
            </form>
        </div>
    </div>
</div>
{% endblock %}