{% extends 'gregssnorkelscores/base.html' %}
{% load static %}

{% block title_block %}
Location page
{% endblock %}

{% block body_block %}

<body class=" login">
    <div class="login-container">
        <h1 class="headingLogin">AYR, BUTE AND ISLANDS</h1>
        <a href="{% url 'gregssnorkelscores:add_spot' %}">Don't see your spot? add it here!</a>
        <ul>
            <li>location</li>
            <li>location</li>
            <li>location</li>
        </ul>
    </div>
</body>

{% endblock %}