<!DOCTYPE html>
{% load staticfiles %}
<!-- {% load rango_template_tags %} -->
<!-- This is not needed yet... -->

<html>
    <head lang = "en">
        <meta charset="UTF-8" />
        <title>
            GSS -
            {% block title_block %}
                Gregs Snorkel Scores!
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            {% block body_block %}
                This is body_blocks default content.
            {% endblock %}
        </div>
    </body>
</html>