{% extends 'gregssnorkelscores/base.html' %}
{% load static %}

{% block title_block %}
    [Names] Favourite Places!
{% endblock %}

{% block body_block %}
    <p>Favourite locations!</p>
    {% for spot in new %}
        <a href="{{spot.url}}">
            <img src="{{spot.pictures.url}}" alt="{{ spot.name }}">
            <div id="favourite-section"><a href="{% url 'accounts:favourite_add' spot.id %}"
                    class="btn btn-outline-primary">Remove</a></div>
        </a>
    {% endfor %}
{% endblock %}