{% extends 'gregssnorkelscores/base.html' %}
{% load static %}

{% block title_block %}
{% if location %}
{{ location.name }}
{% else %}
Unknown Location
{% endif %}
{% endblock %}

{% block body_block %}

<body class="login">
    <div class="login-container">
        <div class="box">
            <div class="heading-container">
                <h1 class="headingLogin">WELCOME TO THE BEAUTIFUL</h1>
                <img src="{% static 'images/fife.png' %}" alt="Fife Image" class="image">

                <h1 class="headingLogin">FIFE<h1>

            </div>
            <div class="su">
                <p>Don't see your spot? add it <a href="{% url 'gregssnorkelscores:add_spot' location.slug %}">here!</a></p>
                <p>Or browse these: </p>
                <ul>
                    {% for spot in spots %}
                    <li><a href="{% url 'gregssnorkelscores:show_spot' location.slug spot.slug %}">{{ spot.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>

{% endblock %}