{% extends 'gregssnorkelscores/base.html' %}
{% load static %}

{% block title_block %}
Location page
{% endblock %}

{% block body_block %}
<h1>HIGHLANDS</h1>
<div>
    {% if location %}
        {{ location.name }}
    {% else %}
        Unknown Location
    {% endif %}
</div>
<a href="/gregssnorkelscores/{{ location.slug }}/add_spot/">Don't see your spot? add it here!</a>
<ul>
    {% for spot in spots %}
    <li><a href="/gregssnorkelscores/{{ location.slug }}/show_spot/{{ spot.slug }}/">{{ spot.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}