{% extends 'gregssnorkelscores/base.html' %}
{% load static %}

{% block title_block %}
    {% if location %}
        {{ location.name }}
    {% else %}
        Unknown Location
    {% endif %}
{% endblock %}

{% block body_block %}
    <h1>
        in hereee????
        {% if location %}
            {{ location.name }}
        {% else %}
            Unknown Location
        {% endif %}
    </h1>
    <h3> 
        About: 
        {{ location.about }}
    </h3>
    <p>Here are all the current spots in {{ location.name }}!</p>
    <ul>
        {% for spot in spots %}
            {% if spot.location == location %}
                <li><a href="/gregssnorkelscores/{{ location.slug }}/{{ spot.slug }}/">{{ spot.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <a href="/gregssnorkelscores/{{ location.slug }}/add_spot/">Don't see your spot? add it here!</a>
{% endblock %}
