{% extends 'gregssnorkelscores/base.html' %}
{% load static %}

{% block title_block %}
Profile Page
{% endblock %}

{% block body_block %}
<p><strong>Experience:</strong> {{ user_profile.experience }}</p>

<h1 class="headingLogin">Hey {{ user.username }}</h1>

<body class=" login">
    <div class="login-container">
        <div class="text-overlay">

            <p><span class="green">Username:</span> <span class="white">{{ user.username }}</span></p>
            <p><span class="green">Email:</span><span class="white">{{ user.email }}</span></p>
            {% if user_profile %}
            <p><span class="green">Your Socials:</span> <span class="white"> {{ user_profile.website }}</span></p>
            <p><span class="green">Experience:</span> <span class="white"> {{ user_profile.experience }}</span></p>
            {% if user_profile.pictures %}
            <p><span class="green">Your Profile Picture:</span></p>
            <div style="text-align: center;">
                <img src="{{ user_profile.pictures.url }}" alt="User's Profile Picture"
                    style="max-width: 300px; max-height: 300px;">
            </div>
            {% endif %}
            {% else %}
            <p>Profile details not available.</p>
            {% endif %}
            <p><span class="green">Or see something familiar:</span> <a
                    href="{% url 'gregssnorkelscores:favourites' %}">Your Favourites</a></p>
        </div>
    </div>
</body>
{% endblock %}