{% extends 'gregssnorkelscores/base.html' %}
{% load static %}

{% block title_block %}
    Profile Page
{% endblock %}

{% block body_block %}
    <p>Placeholder for the users profile page!</p>
    <a href="{% url 'gregssnorkelscores:favourites' %}">Users favourites</a>
    {% if user_profile %}
        <p><strong>Username:</strong> {{ user_profile.user.username }}</p>
        <p><strong>Email:</strong> {{ user_profile.user.email }}</p>
        {% if user_profile.website %}
            <p><strong>Website:</strong> <a href="{{ user_profile.website }}">{{ user_profile.website }}</a></p>
        {% endif %}
        {% if user_profile.picture %}
            <p><strong>Picture:</strong></p>
            <img src="{{ user_profile.picture.url }}" alt="Profile picture" width="200"> <br/>
        {% endif %}
        <a href="{% url 'gregssnorkelscores:favourites' %}">User's Favourites</a>
    {% else %}
        <p>User profile not found.</p>
    {% endif %}
{% endblock %}