{% extends 'gregssnorkelscores/base.html' %}
{% load staticfiles %}

{% block title_block %}
Register
{% endblock %}

{% block body_block %}
<h1>Register for Gregs Snorkel Scores!</h1>
{% if registered %}
<strong>Thank you for registering!</strong>
<a href="/gregssnorkelscores/">Return to the homepage.</a>
{% else %}
<strong>Register here!</strong><br />
<p class="SignUplogin">You have already dived? <a href="{% url 'gregssnorkelscores:login' %}">Login</a></p>
<div class="centered-form">
    <form id="user_form" method="post" action="{% url 'gregssnorkelscores:register' %}" enctype="multipart/form-data">

        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
    {% endblock %}