{% extends 'gregssnorkelscores/base.html' %}

{% block title_block %}
    {% if spot %}
        {{ spot.name }}
    {% else %}
        Unknown spot
    {% endif %}
{% endblock %}

{% block body_block %}
    <div>
        {% if spot %}
            <h1>{{ spot.name }}</h1>
    </div>
    <h2>Reviews:</h2>
    {% for review in reviews %}
        {% if review.spot == spot %}
            <a>
                {{ review.title }}
                {{ review.comment }}
                {{ review.rating }}
            </a>
        {% endif %}
    {% endfor %}
    <li><a href="/gregssnorkelscores/{{spot.slug}}/write_review/">Write your own review!</a></li>
    {% endif %}
{% endblock %}