{% extends 'gregssnorkelscores/base.html' %}

{% block title_block %}
    Spot name
{% endblock %}

{% block body_block %}
    <h1>THIS IS WHERE A SNORKEL SPOT WILL GO!!!</h1>
    <div>
        {% if spot %}
            <h1>{{ spot.name }}</h1>
    </div>
    <h2>Tashs Review</h2>
    {% for review in reviews %}
        <a>
            {{ review.title }}
            {{ review.comment }}
            {{ review.rating }}
        </a>
    {% endif %}
    <a href="{% url 'gregssnorkelscores:favourite_add' spot.id %}" class="btn btn-outline-primary">Add to Favourites</a>
    <p>ten out of ten, best place ever!!</p>
    <a href="/gregssnorkelscores/spot/{{spot.slug}}/write_review/">Write your own review!</a>
    {% endif %}
{% endblock %}