{% extends 'gregssnorkelscores/base.html' %}

{% block title_block %}
{% if spot %}
{{ spot.name }}
{% else %}
Unknown spot
{% endif %}
{% endblock %}

{% block body_block %}

<body class=" login">
    <div class="login-container">
        <div class="text-overlay" id="spot">
            <div>
                {% if spot %}
                <h1> Welcome to {{ spot.name }}!</h1>
            </div>
            <p class="us"><strong>See what people think (scroll):</strong></p><br />
            {% for review in reviews %}
            {% if review.spot == spot %}
            <ul>
                <li>
                    <p><strong>Review:</strong> {{ review.title }}</p>
                    <div class="comment-container">
                        <p><strong>Comment: </strong>{{ review.comment }}</p>
                    </div>
                    <p><strong>Rating: </strong>{{ review.rating }}/5</p>
                    <br />
                </li>
            </ul>
            {% endif %}
            {% endfor %}
            <p class="us">Or tell us what you think about this spot 
                <a href="{% url 'gregssnorkelscores:write_review' spot.slug %}">here!</a>
            </p>

            {% endif %}
        </div>
    </div>
</body>

{% endblock %}