{% extends 'gregssnorkelscores/base.html' %}
{% load static %}

{% block title_block %}
    {% if location %}
        {{ location.name }}
    {% else %}
        Unknown Location
    {% endif %}
{% endblock %}

{% block body_block %}
<div>
    <h1>
        {% if location %}
            {{ location.name }}
        {% else %}
            Unknown Location
        {% endif %}
    </h1>
</div>
<ul>
    {% for spot in spots %}
    <li><a href="/gregssnorkelscores/{{ location.slug }}/{{ spot.slug }}/">{{ spot.name }}</a></li>
    {% endfor %}
</ul>
<a href="/gregssnorkelscores/{{ location.slug }}/add_spot/">Don't see your spot? add it here!</a>
{% endblock %}