{% extends 'gregssnorkelscores/base.html' %}
{% load static %}

{% block title_block %}
{% if location %}
{{ location.name }}
{% else %}
Unknown Location
{% endif %}
{% endblock %}

{% block body_block %}

<body class="login">
    <div class="login-container">
        <div class="box">
            <div class="heading-container">
                <h1 class="headingLogin">WELCOME TO THE BEAUTIFUL</h1>
                <img src="{% static 'images/stir.png' %}" alt="Stirling Image" class="image">

                <h1 class="headingLogin">STIRLING<h1>

            </div>
            <div class="su">
                <p>Don't see your spot? add it <a href="/gregssnorkelscores/{{ location.slug }}/add_spot/">here!</a></p>
                <p>Or browse these: </p>
                <ul>
                    {% for spot in spots %}
                    {% if spot.name == "Default" %}
                    {% else %}
                    <li><a href="/gregssnorkelscores/{{ location.slug }}/{{ spot.slug }}/">{{ spot.name }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>

{% endblock %}