    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-top: 56px;
    }

    .text-overlay {
        position: absolute;
        top: 51.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(10, 32, 14);
        background-color: rgba(25, 154, 42, 0.8);
        padding: 30px;
    }

    .white {
        color: white;
    }

    .green {
        color: rgb(9, 57, 9);
        font-weight: bold;
    }
    .image {
        float: right; /* This will align the image to the right */
        margin-left: 20px; /* Adds space between the image and the text */
        width: 50%; /* Adjust the width as necessary */
        max-width: 400px; /* Adjust maximum width as necessary */
        height: auto; /* Maintain aspect ratio */
        display: block;
    }
    
