.headingLogin {
    color: #28582a;
    text-align: center;
    font-family: "Copperplate", Fantasy;
    font-size: 40px;
    margin-bottom: 3px;
}

.su {
    color: #28582a;
    text-align: center;
    font-family: "Copperplate", Fantasy;
    font-size: 5;
    margin-top: 3px;
}

.centered-form {
    padding: 50px, 50px
}

.login {
    background-image: url("back.png");
    background-size: cover;
    height: 100vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-form {
    padding: 20px;
}

.form-group {
    font-family: "Copperplate", Fantasy;
    color: #28582a;
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #28582a;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #28582a;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #28582a;
    color: #fff;
    border: none;
    border-radius: 10px;
}