.headingLogin {
    color: #28582a;
    text-align: center;
    font-family: "Copperplate", Fantasy;
    font-size: 40px;
    margin-bottom: 3px;
}

.su {
    color: #28582a;
    text-align: center;
    font-family: "Copperplate", Fantasy;
    font-size: 5;
    margin-top: 3px;
}

.centered-form {
    padding: 50px, 50px
}

.login {
    background-image: url("back.png");
    background-size: cover;
    height: 100vh;

}