.all {
    background-color: rgb(147, 212, 222);
}


.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #f2f2f2;
    font-family: "Copperplate", Fantasy;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

.heading h1 {
    color: #28582a;
    text-align: center;
    font-family: "Copperplate", Fantasy;
    font-size: 40px;
}

.topnav {
    padding: 12px;
    background-color: #163717;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    padding: 12px 16px;
    text-decoration: none;
    font-family: "Copperplate", Fantasy;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #28582a;
    color: white;
}

/* map position always centered */
.map {
    display: flex;
    align-items: center;
    justify-content: center;
}

.area8,
.area10 {
    fill: #3a8032;
    stroke: #154716;
}


.area20 {
    fill: #23c826;
    stroke: #154716;
}


.area23,
.area25 {
    fill: #89c726;
    stroke: #154716;
}

.area19 {
    fill: #3a8032;
    stroke: #154716;
}

.area9 {
    fill: #23c826;
    stroke: #154716;

}


.area6 {
    fill: #8ad58b;
    stroke: #154716;

}


.area15 {
    fill: #23c826;
    stroke: #154716;
}

.area24 {
    fill: #89c726;
    stroke: #154716;
}

.area7,

.area2,
.area3,
.area12,
.area16,
.area1 {
    fill: #23c826;
    stroke: #23c826;
}

.area13,
.area29,
.area31 {
    fill: #23c826;
    stroke: #154716;
}


.area4,
.area11,
.area14,
.area18,
.area26 {
    fill: #3a8032;
    stroke: #3a8032;
}

.area21 {
    fill: #89c726;
    stroke: #154716;
}


.area5,
.area27 {
    fill: #3a8032;
    stroke: #154716;
}

.area17 {
    fill: #23c826;
    stroke: #154716;
}

.area22 {
    fill: #89c726;
    stroke: #154716;

}

.area28,
.area30 {
    fill: #89c726;
    stroke: #154716;
}

.area32 {
    fill: #89c726;
    stroke: #154716;
}

.area1:hover,
.area2:hover,
.area3:hover,
.area4:hover,
.area5:hover,
.area6:hover,
.area7:hover,
.area8:hover,
.area9:hover,
.area10:hover,
.area11:hover,
.area12:hover,
.area13:hover,
.area14:hover,
.area15:hover,
.area16:hover,
.area17:hover,
.area18:hover,
.area19:hover,
.area20:hover,
.area21:hover,
.area22:hover,
.area23:hover,
.area24:hover,
.area25:hover,
.area26:hover,
.area27:hover,
.area28:hover,
.area29:hover,
.area30:hover,
.area31:hover,
.area32:hover {
    fill: #ece64a;
}


.connect {
    margin-left: -100px;
}

.come {
    margin-left: -100px;
    margin-right: -100px;

}