.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 56px;
}

.text-overlay {
    position: absolute;
    top: 51.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(10, 32, 14);
    background-color: rgba(25, 154, 42, 0.8);
    padding: 20px;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(10, 32, 14);
    background-color: rgba(25, 154, 42, 0.8);
    padding: 20px;
    max-width: 50%;
    max-height: 60%;
    overflow: auto;
}

.comment-container {
    margin-top: 10px;
    white-space: normal;
    word-wrap: break-word;
}

.white {
    color: white;
}

.green {
    color: rgb(9, 57, 9);
    font-weight: bold;
}